@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%) ;
    color: white;
}

main{
    width: 375px;
}

#top , #bottom{
    margin: 5%;
    text-align: center;
}

#top h1{
    padding: 20% 0 5% 0;
    font-size: 1.7em;
}

#top p{
    padding: 0 0 5% 0;
}

#try{
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
    margin-bottom: 1em;
}

#try p{
    margin: 6em;
    font-weight: 400;
    font-size: 0.9em;
}

#try p span{
    font-weight: 700;
}

#form{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#form p{
    font-size: 0.7em;
    color: hsl(246, 25%, 77%);
    margin: 0.5em 2em 0 2em;
    font-weight: 600;
}

#terms{
    color: hsl(0, 100%, 74%);
}

input{
    width: 100%;
    margin: 1em 0.5em 0 0.5em;
    height: 50px;
    border-radius: 5px;
    border: 1px solid lightgrey;  ;
    color: hsl(249, 10%, 26%) ;
    box-sizing: border-box;
    padding-left: 15px;
    font-weight: 700;
}

::placeholder { 
    color: hsl(249, 10%, 26%);
    font-weight: 700;
  }

.error{
    width: 100%;
    text-align: right;
    font-size: 10px;
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-weight: 600;
    margin: 0.25em 0 0.5em 0;
    display: none;
}

#btn{
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 3px 0px 0px hsl(154, 57%, 41%);
    height: 50px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 1em 0 1em 0;
}

#btn:hover{
    cursor: pointer;
    background-color: hsl(154, 74%, 56%);
}